:root{
    --main-text-color: #212121;
    --grey-text-color: #757575;


}



body{
    background-color: #FFFFFF;
    color: var(--main-text-color);

    font-family: Roboto, sans-serif;
}
.logo{
    text-decoration: none;
    color: var(--main-text-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }

.logo > span{
    color: #2196F3;
}
.list{
    list-style: none;
}

 /* site nav */
 .site-nav .link{
    text-decoration: none;
    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
 }
 .site-nav .link:hover,
 .site-nav .link:focus{
     color: #2196F3;
 }
 .site-nav .link.current{
     color: #2196F3;
 }
 /* Contact nav */
 .cont-nav .link{
    text-decoration: none;
    color: var(--grey-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
 }
 .cont-nav .link:hover,
 .cont-nav .link:focus{
     color: #2196F3;
 }
 .site-head{
     background-color: #FFFFFF;
 }

 .hero-title{
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
 }
 .botton{
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
 }
 .botton:hover,
 .botton:focus{
     background-color: #188CE8;
 }
 .hero{
     background-color: #2F303A ;
 }

 .soft-title{
    color: var(--main-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }

 .soft-text{
    color: #757575;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
 }
 .doing{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
 }

 .our-team .title{
    color: #212121;
    background-color: #F5F4FA;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
 }

 .our-team .major{
    color: #757575;

    


 }

 .list .link{
    text-decoration: none;

    font-style: normal;
     
 }

 .list .location{
     color: rgba(255, 255, 255, 1);

   
 }

 .list .contact{
     color: rgba(255, 255, 255, 0.6);

     
 }

 .foot{
     background-color: #2F303A;
 }
 .foot .logo{
     color: #FFFFFF;
 }





